.header {
    background: #212427;
}

.header__inner {
    padding: 10px 30px;
}

.header__logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}
